.header {
  width: 100%;
  padding: 17px 0px 23px;

  display: flex;
  align-items: center;

  background-color: $color-blue-dark;

  color: $color-white;

  border-bottom: 1px solid #272b6a;
}

.header-wrapper {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.user {
  position: relative;

  &:hover .menu-top__submenu {
    opacity: 1;
    visibility: visible;
  }
}

.user__link {
  display: flex;
  align-items: center;

  padding: 10px 0px;

  gap: 5px;

  color: $color-white;

  &:hover {
    color: $color-blue-light;
    cursor: pointer;
  }
}


@media (max-width: $width-tablet) {
  .header__btn-search span,
  .header__btn-menu span {
    display: none;
  }
}
