.inner-menu {
  background: #272b6a;
  padding-top: 23px;

  & a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;

    padding: 0px 77px 0px 32px;

    color: $color-white;
  }

  & a:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;

    padding: 0px 77px 0px 32px;

    background-color: $color-white;

    color: $color-blue-dark;
  }
}
