.modals {
  position: fixed;
  top: -2000px;

  width: 100%;

  z-index: 9;
  background-color: rgb(255 255 255 / 75%);
  transition: all 0.5s ease;

  & .container {
    position: relative;
  }

  &.active {
    top: 100px;
  }
}

.modals-content {
  z-index: 9;
  width: 100%;
  background-color: $color-white;

  display: flex;
  justify-content: space-between;
}

.modals-menu {
  background-color: $color-blue-violet;

  padding-top: 50px;
  color: $color-white;

  width: 100%;

  & h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    padding-bottom: 18px;
    margin-bottom: 32px;

    border-bottom: 1px solid #55598f;

    color: #55598f;
  }

  & a:hover {
    color: #6dbedf;
  }

  & li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: $color-white;
  }
}

.for-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts-item {
  display: flex;
  grid-gap: 14px;

  margin-bottom: 26px;

  & p a {
    color: #0966a0;
  }
}

.modals-close {
  padding: 34px;

  top: -140px;
  width: fit-content;
  position: absolute;
  right: 0;
  display: flex;

  align-items: center;

  background-color: #272b6a;

  cursor: pointer;

  gap: 5px;
  text-align: center;
}
