.modal-auth {
  display: none;
  box-sizing: border-box;
  position: fixed;
  max-width: 360px;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &.active {
    display: block;
  }

  & form {
    padding: 0 24px 14px;
  }
}

.nav-tabs {
  display: flex;
  margin-bottom: 28px;
  justify-content: space-between;

  & li {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    & a {
      color: $color-blue-dark;
      display: inline-block;
      padding: 20px 33px;
    }

    &.active {
      background-color: $color-blue-extra-light;

      & a {
        color: #0966a0;
      }
    }
  }
}

.tab:not(:target) {
  display: none;
}

.tab:last-child {
  display: block;
}

.tab:target ~ .tab:last-child {
  display: none;
}

.tab {
  display: flex;
  flex-direction: column;

  & fieldset {
    display: flex;
    flex-direction: column;
    gap: 22px;

    & em {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-style: italic;
      color: #7c8388;
    }
  }
}

.input-auth {
  width: 100%;
  background: $color-white;
  border: 1px solid #eaf2f6;

  padding: 18px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #7c8388;
  }
}

.button-auth {
  background-color: $color-blue-light;
  color: $color-blue-dark;
  padding: 18px;
  border: none;

  cursor: pointer;
}

.modal-auth-close {
  display: flex;
  width: fit-content;
  right: -22px;
  top: -22px;
  position: absolute;

  cursor: pointer;
}
