.modals {
  position: fixed;
  right: -4000px;
  z-index: 9;
  height: 100vh;
  background-color: rgb(255 255 255 / 75%);
  transition: all 0.5s ease;

  &.active {
    right: 0px;
  }
}

.modals-content {
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: $color-white;

  display: flex;
  justify-content: space-between;
}

.modals-menu {
  background: #272b6a;
  padding-top: 23px;

  & a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;

    padding: 0px 77px 0px 32px;

    color: $color-white;
  }

  & a:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;

    padding: 0px 77px 0px 32px;

    background-color: $color-white;

    color: $color-blue-dark;
  }
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 0;

  background-color: aqua;
  width: 200px;
  height: 200px;
}


