.moderators {
  padding: 64px 0px 120px;

  background-color: $color-blue-dark;
  color: $color-white;

  position: relative;

  &::before {
    content: "";
    background: url(../img/bg-lines.svg);
    position: absolute;
    top: 350px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-position: center;
    opacity: 0.6;
  }

  & h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    text-transform: uppercase;
  }

  & .container {
    max-width: 1570px;
  }
}

.moderators__item {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 0 15px;

  & img {
    max-width: 260px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.moderators__name {
  font-weight: 800;
  font-size: 22px;
  line-height: 41px;
}
