.profile-wrapper {
  display: flex;
  justify-content: space-between;
}

.profile-main {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background-color: $color-white;
  color: $color-blue-dark;

  padding: 50px 34px 410px;

  & h2 {
    font-size: 32px;
    line-height: 47px;
    text-transform: uppercase;

    margin-bottom: 45px;
  }

  & fieldset {
    padding: 28px 0;
  }
}

.profile-main-wrapper {
  display: flex;
  gap: 70px;

  & form {
    width: 100%;
  }
}

.user-ava {
  display: flex;
  align-items: center;

  width: 241px;
  height: 241px;
  border-radius: 50%;
  background: $color-blue-light;

  margin-top: 50px;

  border: 17px solid #eff5f8;

  & span {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: $color-white;
  }
}

@media (max-width: $width-desktop) {
  .profile-main-wrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: $width-tablet) {
  .profile-wrapper {
    flex-direction: column-reverse;
  }
}
