@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"),
    url("../fonts/poppins-400.woff2") format("woff2"),
    url("../fonts/poppins-400.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"),
    url("../fonts/poppins-500.woff2") format("woff2"),
    url("../fonts/poppins-500.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), url("../fonts/poppins-700.woff2") format("woff2"),
    url("../fonts/poppins-700.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cormorant Garamond Regular Italic"),
    url("../fonts/cormorant-garamond-400-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-400-italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Cormorant Garamond Medium Italic"),
    url("../fonts/cormorant-garamond-500-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-500-italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Cormorant Garamond SemiBold"),
    url("../fonts/cormorant-garamond-600.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-600.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cormorant Garamond Bold"),
    url("../fonts/cormorant-garamond-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-700.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Cormorant Garamond Bold Italic"),
    url("../fonts/cormorant-garamond-700-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-700-italic.woff") format("woff");
}

//новый шрифт

@font-face {
  font-family: "Circe";
  src: local("Circe Light"), local("Circe-Light"),
    url("../../../build/fonts/Circe-Light.woff2") format("woff2"),
    url("../../../build/fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe Extra";
  src: local("Circe Extra Bold"), local("Circe-ExtraBold"),
    url("../../../build/fonts/Circe-ExtraBold.woff2") format("woff2"),
    url("../../../build/fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe Thin"), local("Circe-Thin"),
    url("../../../build/fonts/Circe-Thin.woff2") format("woff2"),
    url("../../../build/fonts/Circe-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"),
    url("../../../build/fonts/Circe-Regular.woff2") format("woff2"),
    url("../../../build/fonts/Circe-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"),
    url("../../../build/fonts/Circe-Bold.woff2") format("woff2"),
    url("../../../build/fonts/Circe-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
