html {
  box-sizing: border-box;
  font-family: $font-circle;
  scroll-behavior: smooth;

  background-color: $color-blue-extra-light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mbt-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

button {
  display: flex;
  align-items: center;

  gap: 10px;

  background: none;
  color: white;

  cursor: pointer;

  border: none;
}

button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: uppercase;
}

.btn__standart {
  background-color: $color-blue-light;
  width: fit-content;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: $color-blue-dark;

  padding: 15px 26px;

  color: $color-black;

  z-index: 1;
}

.noscroll,
.noscroll2 {
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    // backdrop-filter: blur(5px);
  }
}

// Стили для слайдера 1//

.slider-wrapper {
  padding: 0 75px;
}

.slider .slick-prev {
  left: -75px;
}

.slider .slick-next {
  right: -50px;
}

.slider .slick-prev::before {
  content: url("/img/left.svg");
}

.slider .slick-next::before {
  content: url("/img/right.svg");
}

.slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ffffff;
}

.slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider .slick-dots {
  bottom: -76px;
}

.slick-dots li button:before {
  display: none;
}

// Стили для слайдера 2//

.slider-wrapper {
  padding: 0 75px;
}

.slider2 .slick-prev {
  left: -75px;
}

.slider2 .slick-next {
  right: -50px;
}

.slider2 .slick-prev::before {
  content: url("/img/news-left.svg");
}

.slider2 .slick-next::before {
  content: url("/img/news-right.svg");
}

.slider2 .slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #e0f1f8;
}

.slider2 .slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider2 .slick-dots {
  bottom: -76px;
}

.slider2 .slick-dots li button:before {
  display: none;
}

// Стили для слайдера 3//

.slider3 .slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #e0f1f8;
}

.slider3 .slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider3 .slick-dots {
  bottom: -36px;
}

.slider3 .slick-dots li button:before {
  display: none;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}

.title-number {
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 26px;
}

body input:focus:required:invalid {
  border: 1px solid #ea3b38;
  border-radius: 4px;
  outline: none;
}
