html {
  box-sizing: border-box;
  font-family: $font-circle;
  scroll-behavior: smooth;

  background-color: $color-blue-extra-light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mbt-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

button {
  display: flex;
  align-items: center;

  gap: 10px;

  background: none;
  color: white;

  cursor: pointer;

  border: none;
}

button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: uppercase;
}

.btn__standart {
  background-color: $color-blue-light;
  width: fit-content;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: $color-blue-dark;

  padding: 15px 26px;

  color: $color-black;

  z-index: 1;
}

.button-auth {
  background-color: #6dbedf;
  color: #0d113a;
  padding: 18px;
  border: none;

  cursor: pointer;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.default-button {
  background-color: #6dbedf;
  color: #0d113a;
  padding: 18px;
  border: none;

  cursor: pointer;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.noscroll,
.noscroll2 {
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    // backdrop-filter: blur(5px);
  }
}

// Стили для слайдера 1//

.slider-wrapper {
  padding: 0 75px;
}

.slider .slick-prev {
  left: -75px;
}

.slider .slick-next {
  right: -50px;
}

.slider .slick-prev::before {
  content: url("../img/left.svg");
}

.slider .slick-next::before {
  content: url("../img/right.svg");
}

.slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ffffff;
}

.slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider .slick-dots {
  bottom: -76px;
}

.slick-dots li button:before {
  display: none;
}

// Стили для слайдера 2//

.slider-wrapper {
  padding: 0 75px;
}

.slider2 .slick-prev {
  left: -75px;
}

.slider2 .slick-next {
  right: -50px;
}

.slider2 .slick-prev::before {
  content: url("../img/news-left.svg");
}

.slider2 .slick-next::before {
  content: url("../img/news-right.svg");
}

.slider2 .slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #e0f1f8;
}

.slider2 .slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider2 .slick-dots {
  bottom: -76px;
}

.slider2 .slick-dots li button:before {
  display: none;
}

// Стили для слайдера 3//

.slider3 .slick-dots li {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #e0f1f8;
}

.slider3 .slick-dots li.slick-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6dbedf;
}

.slider3 .slick-dots {
  bottom: -36px;
}

.slider3 .slick-dots li button:before {
  display: none;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}

.title-number {
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 26px;
}

body input:focus:required:invalid {
  border: 1px solid #ea3b38;
  border-radius: 4px;
  outline: none;

  box-shadow: 0px 0px 1px 4px rgb(234 59 56 / 20%);

  &::placeholder {
    color: red;
  }
}

@media (max-width: $width-tablet) {
  .slider-wrapper {
    padding: 0;
  }

  .slider .slick-prev::before,
  .slider .slick-next::before,
  .slider2 .slick-prev::before,
  .slider2 .slick-next::before,
  .slider3 .slick-prev::before,
  .slider3 .slick-next::before {
    display: none;
  }

  .slider .slick-next,
  .slider2 .slick-next,
  .slider3 .slick-next {
    right: 0;
  }

  header {
    height: 65px;
  }
}

/* TABS Room */

@at-root .tabs {
  max-width: 800px;
  margin: 50px auto;
}

.tabs__nav {
  display: flex;
  gap: 43px;

  flex-wrap: wrap;

  justify-content: center;

  margin-bottom: 50px;
}

.tabs__nav-btn {
  position: relative;
  padding: 6px 32px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  background-color: #3464e0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.tabs__number {
  position: absolute;
  background: #fff;

  border: 1px solid #3464e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  color: #3464e0;
}
.tabs__number.active {
  color: #fff;
  background: #3464e0;
}

.tabs__nav-btn:hover {
  background-color: #0d113a;
}

.tabs__nav-btn.active {
  background-color: #fff;
  border-color: #3464e0;
  color: #3464e0;
}

.tabs__content {
  margin: 40px 0;
  background-color: #fff;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

/* ROOMS */

.rooms-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #0d113a;
  padding: 50px 100px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
}

.rooms-main h2 {
  font-size: 32px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.room-svg {
  width: 100%;
}

.room {
  fill: none;
  cursor: pointer;
  pointer-events: all;
}

.room--active {
  fill: #ebf0fc;
}

.tooltip {
  position: absolute;
  padding: 22px 15px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

  display: none;

  max-width: 316px;
}

.tooltip::before {
  position: absolute;
  top: 225px;
  left: 143px;
  display: block;
  width: 0;
  height: 0;
  content: "";
  transition: all 0.2s ease;
  border-width: 0 18px 18px;
  border-style: solid;
  border-color: transparent transparent #ffffff;
  background: 0;
  transform: rotateX(180deg);
}

.employee-item {
  padding-bottom: 11px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 11px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.employee-fio {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #444444;
}

.employee-position {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  color: #c3cad6;
}

.tooltip-close {
  display: flex;
  width: fit-content;
  right: 4px;
  top: 4px;
  position: absolute;
  cursor: pointer;
}

/* INPUT SEARCH */

.input-rooms {
  width: 100%;
  border: 1px solid #f1f4f9;
  border-radius: 4px;
  padding: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
