/* Colors */
$color-black: #000000;
$color-white: #ffffff;

$color-black-text: #1d1613;
$color-brown-menu: #a87b62;
$color-blog-info: #f0eae4;

/* Viewports */
$width-tablet: 767.2px;
$width-desktop: 1240px;

/* Fonts */
$font-circle: "Circe", "Arial", sans-serif;
$font-golos: "Golos Text", "Arial", sans-serif;

//новые переменные

$color-blue-dark: #0d113a;
$color-blue-violet: #272b6a;
$color-blue-medium: #00a1d5;
$color-blue-light: #6dbedf;
$color-blue-extra-light: #e0f1f8;

$color-gray: #6a7277;
